@model List<Exam_sem3.Entities.Employee>
@{

}
<div class="container mt-4">
    <h1 class="mb-3">Employees</h1>
    <a class="btn btn-primary mb-3" asp-controller="Employee" asp-action="Create">Create an Employee</a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Code</th>
                <th>Rank</th>
                <th>DepartmentId</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Code</td>
                    <td>@item.Rank</td>
                    <td>@item.DepartmentId</td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger btn-sm" onclick="return confirm('Delete employee @item.Name')" asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
